.word{
	
	color:red;
}
.menu{
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	color:blue;
	max-width: 700px;
	margin-left:330px;
	margin-top: 60px;
}
body{
	background-image: url("comp22.png"); 
	background-size: cover;
	background-repeat: no-repeat;
	
}

a{
	color: white;
	font-size:30px;
	text-decoration: none;
	font-family: 'Azeret Mono', monospace;

}
a:hover{
	color: white;
	text-decoration: none;
	font-family: 'Azeret Mono', monospace;
	font-size:32px;
}

footer{
	width: 100%;
	height: 100px;
	background-color: black;
	bottom: 10px;

}

.info{
	margin-left: 90%;


}
.soupe{
	margin-left:30px;
}
