body{
	background-color: black;
}
a{
	color: white;
	font-size:25px;
	text-decoration: none;
	font-family: 'Azeret Mono', monospace;

}
a:hover{
	color: white;
	text-decoration: none;
	font-family: 'Azeret Mono', monospace;
	font-size:25px;
}
p:{
	color: white;
	font-size: 20px;
	font-family: 'Azeret Mono', monospace;
}

#block_log{
	margin-left:35%;
	margin-top:5%;
	color: white;
	font-family: 'Azeret Mono', monospace;
}
#button{
	width: 150px;
	height: 30px;
	background-color: red;
	color: white;
	border-radius: 5px;
	font-size:15px;

	font-family: 'Azeret Mono', monospace;
}
#logo_small_style{
	margin-left:5%;
}

#price_image{
	margin-top:10%;
	margin-left:10%;
}